body {
        background-image: url(/images/sand.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
}

div.jumbotron{
	background: transparent;
}

div.landingpagecopy {
	background-color: rgba(255, 255, 255, 0.9);
	
}
