---
layout: landingpage
title: Lux+Umbra
---
    <div class="navbar-wrapper">
      <div class="container">
	{% include navbar.html %}
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Personalized marketing solutions, delivered quickly.</h1>
        <p>Take your brand to the next level!</p>

	<a href="mailto:me@rosalynd.name">
		<button type="button" class="btn btn-success btn-lg active"
			href="mailto:me@rosalynd.name" >Free Consultation!</button>
	</a>

      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row landingpagecopy">
        <div class="col-md-4">
          <h2>Marketing</h2>
          <p>Lux+Umbra specializes in creating a look that speaks to your
		customers. Print, Apparel, and Website Design maximized with
		Internet and Social Media Marketing.
</p>

        </div>
        <div class="col-md-4">
          <h2>Brand Management</h2>
          <p> Stand out from the crowd! <br>Your distinct vision brought to
	life. Let us develop a unique brand identity that
	tells your story. </p>


       </div>
        <div class="col-md-4">
          <h2>Photography</h2>
          <p> Professional photography is critical in campaigns, advertising,
	branding, on your website, and social media outlets. We provide
	product, service, and professional portraits. </p>


        </div>
      </div>


<div class="row featurette">
        <div class="col-md-7">
		<h2 class="featurette-heading">Contact Us!
		<span class="text-muted">We’ll blow your mind.</span></h2>
          <p class="lead">something something, blue</p>
        </div>
        <div class="col-md-5">
          <script type="text/javascript"
	src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_RKDluxumbra_1">
  <script type="text/javascript">
    Skype.ui({
      "name": "dropdown",
      "element": "SkypeButton_Call_RKDluxumbra_1",
      "participants": ["RKDluxumbra"],
      "imageSize": 32
    });
  </script>
        </div>
      </div>

      <hr/>

	{% include footer.html %}

    </div> <!-- /container -->
