<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><font size= "10" color="C5AE87">Rosalynd Dale</font></a>
    </div>

        <!-- Contact buttons on right side of nav bar -->
					<div id="navbar-buttons-on-right" class="navbar-collapse navbar-right collapse">
						<ul class="nav navbar-nav">

              <!-- Mail button -->
							<a href="mailto:me@rosalynd.name" class="btn btn-default navbar-btn">
				        <span class="fa fa-envelope fa-2x" aria-hidden="true"></span></a>

              <!-- Call button-->
				      <a class="btn btn-default navbar-btn" href="tel:+14155130144">
                <span class="fa fa-phone fa-2x"	aria-hidden="true"></span></a>

              <!-- Twitter Button -->
				      <a class="btn btn-default navbar-btn"
                href="https://twitter.com/rosalynddale">
                <span i class="icon-twitter icon-2x" aria-hidden="true"></span></a>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
